<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>table</title>
  <link rel="stylesheet" type="text/css" href="/tablestyle.css">
</head>
<body>
<div class="main">
<h1 class="line"> To Do's</h1>
<div class="link">
<a class="ref" href="/todo/create"> Add new entry </a>
  <a class="ref" href="/todo/table">Show all</a>
  <a class="ref" href="/todo/table?isActive=true">Show active</a>
  <a class="ref" href="/todo/table?isUrgent=true">Show urgent</a>
  <a class="ref" href="/todo/table?findFirst=true">Show first urgent</a>
  </div>
  <div class = "search">
    <form th:action="|@{/todo/table}?title=${searchTitle}|" th:method="get">
    <input type="search" name="searchTitle" id="searchTitle" placeholder="title" required pattern="[^A-Za-z]{3}">
    </form>
  </div>
<div>
<table id="table" class="table">
  <thead>
  <th>Id</th>
  <th>Title</th>
  <th>Urgent</th>
  <th>Done</th>
  <th>Delete</th>
  <th>Edit</th>
  </thead>
<tr th:each ="todos:${table}">
  <td th:text="*{todos.id}"></td>
  <td id="title" th:text="*{todos.title}"></td>
  <td th:text="*{todos.urgent}"></td>
  <td th:text="*{todos.done}"></td>
  <td><a th:href="|/todo/*{todos.id}/delete|">delete</a></td>
  <td><a th:href="|/todo/*{todos.id}|">edit</a></td>
</tr>
</table>
</div>
</div>
</body>
</html>